body {
  margin: 0;
  padding: 0;
  font-family: "Noto Sans KR", sans-serif;
  background-color: #fff7e0;
}

#menubutton {
  position: fixed;
  top: 30px;
  left: 30px;
  z-index: 101;
  background: rgba(0, 0, 0, 0.9);
  border: none;
  border-radius: 3px;
  font-size: 32px;
  color: white;
}

.contents {
  background: rgba(0, 0, 0, 0.9);
  height: 100vh;
  width: 200px;
  position: absolute;
  z-index: 101;
  color: white;
  display: none;
}

main {
  height: 100vh;
  overflow: scroll;
}
main #interactive {
  height: 100vh;
  width: 100vw;
  padding: 0;
  background-color: white;
  display: grid;
  grid-template-columns: 400px 1fr;
  z-index: 100;
}
main #interactive #left {
  display: grid;
  grid-template-rows: 1fr 400px;
}
main #interactive #left #contents {
  margin-top: 50px;
  margin-left: 58px;
  border: 1px solid darkgray;
  align-self: stretch;
  justify-self: stretch;
}
main #interactive #left #controller {
  border: 1px solid darkgray;
  align-self: stretch;
  justify-self: right;
  margin: 10px 0 30px 58px;
  padding: 10px 20px 0;
}
main #interactive #left #controller #code-wrapper {
  margin-top: 30px;
}
main #interactive #left #controller #code-wrapper #code-snippet {
  font-family: "Roboto Mono", monospace;
  background-color: #222222;
  color: white;
  padding: 10px 20px;
  font-size: 12px;
  margin-top: 5px;
}
main #interactive #left #controller .dropdown {
  margin-top: 5px;
  display: grid;
  align-items: stretch;
  grid-template-columns: 120px auto 35px;
}
main #interactive #left #controller .dropdown .infobutton {
  width: 22px;
  height: 22px;
  padding: 2px;
  margin: 1px 5px;
  text-align: center;
  background-color: black;
  color: white;
  border-radius: 100%;
  cursor: pointer;
}
main #interactive #left #controller .dropdown .infobutton:hover {
  background-color: #444444;
}
main #interactive #left #controller .title {
  font-size: 24px;
  font-weight: 700;
}
main #interactive #left #controller .subtitle {
  font-size: 14px;
  font-weight: 300;
  color: gray;
  margin-bottom: 15px;
}
main #interactive #display {
  display: flex;
  align-self: end;
  width: 95%;
  height: 90vh;
  margin: 0 auto 30px;
  border: 1px solid darkgray;
}
main #interactive #display #search {
  position: absolute;
  left: 440px;
  top: 60px;
}
main #interactive #display svg {
  justify-content: center;
  width: 90%;
  height: 90%;
  margin: auto auto;
}
main #interactive #display svg circle {
  cursor: pointer;
}
main #interactive #secondaryview {
  background-color: rgba(0, 0, 0, 0.9);
  position: absolute;
  color: white;
  bottom: 30px;
  right: 30px;
  display: none;
}

#popup {
  display: none;
  position: absolute;
  background-color: rgba(0, 0, 0, 0.9);
  color: white;
  width: 300px;
  height: 180px;
}
#popup #close {
  color: white;
  background: none;
  border: none;
  position: absolute;
  top: 10px;
  right: 10px;
  font-size: 20px;
}
#popup .content {
  margin: 20px 10px 10px;
}
#popup .content #title {
  font-weight: 700;
  font-size: 18px;
}
#popup .content #explanation {
  font-weight: 100;
  font-size: 14px;
}

/*# sourceMappingURL=main.css.map */
