body {
    margin: 0;
    padding: 0;
    font-family: "Noto Sans KR", sans-serif;
    background-color: rgb(255, 247, 224);
}

main {
    scroll-snap-type: y mandatory;
    height: 100vh;
    overflow: scroll;
    #title {
        margin: 0 auto;
        height: 100vh;
        // display: flex;
        // flex-direction: column;
        // justify-content: center;
        h1 {
            width: 100%;
        }
        hr {
            margin: 30px auto;
            width: 150px;
        }
        .bodytext {
            //margin: 0 50px;
            font-weight: 100;
            font-size: 12px;
        }
    }

    .center {
        text-align: center;
        margin: 0 auto;
        width: fit-content;
    }

    .section-title {
        position: sticky;
        top: 0px;
        padding: 30px 0 10px;
        width: 700px;
        margin: 0 auto;
        background-color: rgb(255, 247, 224);

        font-weight: 600;
    }
    .section {
        scroll-snap-align: start;
        height: 100vh;

        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        justify-content: center;
        .keyterm {
            text-decoration: royalblue;
            font-weight: 400;
            &:hover {
                font-weight: 700;
                color: royalblue;
                cursor: pointer;
            }
        }
        .bodytext {
            width: 100%;
            margin: 20px 0;
        }
        width: 700px;
        margin: 0 auto;
        position: relative;
        top: -30px;
        //padding: -30px 0 30px;
        font-weight: 300;
    }

    #quiz {
        text-align: center;

        #answerbox {
            opacity: 0;
            //position: relative;
            top: 100px;
            background-color: white;
            width: 500px;
            margin: 30px 100px;
            border: 1px solid darkgray;
            padding: 20px 0;
        }
    }

    #interactive {
        height: 100vh;
        width: 100vw;
        background-color: white;
    }
}

#popup {
    display: none;
    position: absolute;
    background-color: rgba(0, 0, 0, 0.9);
    color: white;
    width: 300px;
    height: 180px;
    #close {
        color: white;
        background: none;
        border: none;
        position: absolute;
        top: 10px;
        right: 10px;
        font-size: 20px;
    }
    .content {
        margin: 20px 10px 10px;
        #title {
            font-weight: 700;
            font-size: 18px;
        }
        #explanation {
            font-weight: 100;
            font-size: 14px;
        }
    }
}
