body {
    margin: 0;
    padding: 0;
    font-family: "Noto Sans KR", sans-serif;
}
main {
    height: 100vh;
    overflow: scroll;

    #interactive {
        height: 100vh;
        width: 100vw;
        padding: 0;
        background-color: white;
        display: grid;

        grid-template-columns: 400px 1fr;
        z-index: 100;

        .title {
            font-size: 24px;
            font-weight: 700;
        }
        .subtitle {
            font-size: 14px;
            font-weight: 300;
            color: gray;
            margin-bottom: 15px;
        }
        .bodytext {
            font-size: 14px;
            font-weight: 300;
            margin-top: 15px;
        }

        #left {
            display: grid;
            grid-template-rows: 1fr 400px;
            #contents {
                padding: 10px 20px;
                margin-top: 50px;
                min-height: 348px;
                margin-left: 58px;
                border: 1px solid darkgray;
                align-self: stretch;
                justify-self: stretch;
                overflow: hidden;
                position: relative;
                #menubutton {
                    background: rgba(0, 0, 0, 0.9);
                    border: none;
                    display: block;

                    border-radius: 3px;
                    margin: 5px 0;
                    z-index: 10;

                    font-size: 24px;
                    color: white;
                    cursor: pointer;
                }
                #menu {
                    background: rgba(0, 0, 0, 0.9);
                    border: none;
                    position: absolute;
                    top: 0px;
                    left: 0px;
                    height: 100%;
                    width: 0;
                    overflow: hidden;
                    transition: all ease-in-out 0.3s;
                    padding: 20px 0;
                    overflow: hidden;
                    .menuitem {
                        cursor: pointer;
                        color: white;
                        overflow: hidden;
                        width: 300px;
                    }
                    #menu-close {
                        position: relative;
                        left: 280px;
                        border: none;
                        background: none;
                        color: white;
                        font-size: 24px;
                    }
                }
                .section {
                    display: none;
                    &.selected {
                        display: block;
                    }
                }
            }
            #controller {
                border: 1px solid darkgray;
                align-self: stretch;
                justify-self: right;
                margin: 10px 0 30px 58px;
                padding: 10px 20px 0;

                #code-wrapper {
                    margin-top: 30px;
                    #code-snippet {
                        font-family: "Roboto Mono", monospace;
                        background-color: rgb(34, 34, 34);
                        color: white;
                        padding: 10px 20px;
                        font-size: 12px;
                        margin-top: 5px;
                        span {
                            color: yellow;
                        }
                    }
                }
                .dropdown {
                    margin-top: 5px;
                    display: grid;
                    align-items: stretch;
                    grid-template-columns: 120px auto 35px;
                    .infobutton {
                        margin: 1px 5px;
                        font-size: 20px;

                        cursor: pointer;
                        &:hover {
                            color: rgb(100, 100, 100);
                        }
                    }
                }
            }
        }
        #display {
            display: flex;
            align-self: end;
            height: 90vh;
            min-height: 740px;
            margin: 0 58px 30px 10px;
            border: 1px solid darkgray;
            #search {
                position: absolute;
                left: 440px;
                top: 60px;
                input {
                    background: none;
                    border: none;
                    border: 1px gray solid;
                    padding: 5px 10px;
                    padding-right: 20px;
                    font-size: 16px;
                }
                button {
                    background: none;
                    border: none;
                    position: relative;
                    left: -35px;
                    cursor: pointer;
                    font-size: 16px;
                }
            }
            svg {
                justify-content: center;
                width: 90%;
                height: 90%;
                margin: auto auto;
                circle {
                    cursor: pointer;
                }
            }
            .tooltip {
                font-size: 12px;
            }
        }

        #secondaryview {
            background-color: rgba(0, 0, 0, 0.9);
            position: absolute;
            color: white;
            bottom: 30px;
            right: 30px;
            width: 200px;
            padding: 20px 10px;
            display: none;
            #selection {
                display: flex;
                .selectedword {
                    width: 80px;
                    padding: 5px 10px;
                }
            }
            button {
                margin-left: auto;
                margin-right: 0;
            }
        }
    }
}

#popup {
    display: none;
    position: absolute;
    background-color: rgba(0, 0, 0, 0.9);
    color: white;
    width: 300px;
    height: 180px;
    #close {
        color: white;
        background: none;
        border: none;
        position: absolute;
        top: 10px;
        right: 10px;
        font-size: 20px;
    }
    .content {
        margin: 20px 10px 10px;
        #title {
            font-weight: 700;
            font-size: 18px;
        }
        #explanation {
            font-weight: 100;
            font-size: 14px;
        }
    }
}
